meta(property="fb:app_id", content="#{web.facebookId}")
meta(property="og:url", content="#{web.baseUrl}")
meta(property="og:site_name", content="Studienplaner")
meta(property="og:title", content="Studienplaner")
meta(property="og:locale", content="de_DE")
meta(property="og:description", content="Verwalte deine Kurse, tracke deine " +
  "Noten, plane dein Semester. Studienplaner hilft dir deinen " +
  "Studienfortschritt stets im Auge zu behalten.")
meta(property="og:image", content="#{web.baseUrl}/images/screenshot.png")