meta(property="og:app_id", content="#{web.facebook.appId}")
meta(property="og:url", content="#{web.facebook.url}")
meta(property="og:site_name", content="Studienplaner")
meta(property="og:title", content="Studienplaner")
meta(property="og:locale", content="de_DE")
meta(property="og:description", content="Verwalte deine Kurse, tracke deine " +
  "Noten, plane dein Semester. Behalte den Überblick über Anforderungen und " +
  "Abhängigkeiten in deinem Studienplan. Studienplaner hilft dir deinen " +
  "Studienfortschritt stets im Auge zu behalten.")
meta(property="og:image", content="images/screenshot.png")