include ../mixins/meta-description
include ../mixins/meta-image

meta(property="fb:app_id", content=web.facebookId)
meta(property="og:url", content=web.baseUrl)
meta(property="og:site_name", content="Studienplaner")
meta(property="og:title", content="Studienplaner")
meta(property="og:locale", content="de_DE")
+meta-description(property="og:description")
+meta-image(property="og:image")