meta(itemprop="name", content="Studienplaner")
meta(itemprop="description", content="Verwalte deine Kurse, tracke deine " +
  "Noten, plane dein Semester. Studienplaner hilft dir deinen " +
  "Studienfortschritt stets im Auge zu behalten.")
meta(itemprop="image", content="#{web.baseUrl}/images/social.png")