include ../mixins/meta
include ../mixins/meta-description

meta(charset="UTF-8")
+meta("viewport", "width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
+meta("keywords", "studium, universität, student, kurse, noten, semester, organisation, planung, statistik, notendurchschnitt, ECTS, app, online")
+meta-description(name="description")
+meta("copyright", "Lukas Eibensteiner")
+meta("language", "DE")
+meta("revised", "January, 2016")
+meta("author", "Lukas Eibensteiner")
+meta("designer", "Lukas Eibensteiner")
+meta("owner", "Lukas Eibensteiner")
+meta("date", "January, 2016")