include ../mixins/meta-description
include ../mixins/meta-image

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:creator", content="@lukaseibenstein")
meta(name="twitter:title", content="Studienplaner")
+meta-description(name="twitter:description")
+meta-image(name="twitter:image")