meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:creator", content="@lukaseibenstein")
meta(name="twitter:title", content="Studienplaner")
meta(name="twitter:description", content="Verwalte deine Kurse, tracke deine " +
  "Noten, plane dein Semester. Studienplaner hilft dir deinen " +
  "Studienfortschritt stets im Auge zu behalten.")
meta(name="twitter:image", content="#{web.baseUrl}/images/social.png")