doctype html
html.no-js(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    include ../includes/facebook-meta.jade
    block head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic,700italic")
    link(rel="stylesheet", href="css/styles.css")
  body.hyphenate
    nav#toolbar
      a.logo(href="index.html")
        img(src="images/logo.svg", alt="")
        span Studienplaner
      a.quick-link(href="#{web.appUrl}") Jetzt benutzen »
    block body
    footer#footer
      div.wrapper
        a(href="impressum.html") Impressum &amp; Datenschutzerklärung
    script(src="js/scripts.js")
    script.
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
                };
        i[r].l = 1 * new Date();
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");

      ga("create", "#{web.googleAnalyticsId}", "auto");
      ga("send", "pageview");