include ../mixins/google-analytics
include ../mixins/toolbar

doctype html
html.no-js(lang="de", itemscope, itemtype="http://schema.org/Other")
  head
    include ../includes/meta
    block head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic,700italic")
    link(rel="stylesheet", href="css/styles.css")
  body.hyphenate
    block toolbar
      +toolbar
    block body
    footer#footer
      div.wrapper
        a(href="impressum.html") Impressum &amp; Datenschutzerklärung
    script(src="js/scripts.js")
    +google-analytics(web.googleAnalyticsId)