doctype html
html.no-js(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    include ../includes/facebook-meta.jade
    block head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic,400italic,700italic")
    link(rel="stylesheet", href="css/styles.css")
  body.hyphenate
    nav#toolbar
      a.logo(href="index.html")
        img(src="images/logo.svg", alt="")
        span Studienplaner
      a.quick-link(href="#{web.appUrl}") Jetzt benutzen »
    block body
    footer#footer
      div.wrapper
        a(href="impressum.html") Impressum &amp; Datenschutzerklärung
    script(src="js/scripts.js")