mixin meta-description(short)
  meta&attributes(attributes)(content="Verwalte deine Kurse, tracke deine " +
    "Noten, plane dein Semester." +
    (short ? "" : " Studienplaner hilft dir deinen Studienfortschritt im Auge zu behalten."))