mixin meta-description()
  meta&attributes(attributes)(content="Verwalte deine Kurse, tracke deine " +
    "Noten, plane dein Semester. Studienplaner hilft dir deinen " +
    "Studienfortschritt im Auge zu behalten.")