mixin toolbar
  nav#toolbar&attributes(attributes)
    div.bar
      a.logo(href="index.html")
        img(src="images/logo.svg", alt="")
        span Studienplaner
      a.quick-link(href=web.appUrl) Jetzt benutzen »