extends templates/page.jade
include mixins/section.jade

block head
  title Impressum

block body
  +section("imprint")
    :mymarkdown
      # Impressum

      Für diese Website verantwortlicher Herausgeber:

      **Lukas Eibensteiner**
      <br>E-Mail: l.eibensteiner<b hidden>ignorethis</b>@gmail.com

  +section("privacy")
    :mymarkdown
      ## Datenschutzerklärung

      Diese Website benutzt Google Analytics, einen Webanalysedienst der
      Google Inc. („Google"). Google Analytics verwendet sog. „Cookies",
      Textdateien, die auf Ihrem Computer gespeichert werden und die eine
      Analyse der Benutzung der Website durch Sie ermöglichen. Die durch
      den Cookie erzeugten Informationen über Ihre Benutzung dieser Website
      (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in
      den USA übertragen und dort gespeichert.

      Google wird diese Informationen benutzen, um Ihre Nutzung der Website
      auszuwerten, um Reports über die Websiteaktivitäten für die
      Websitebetreiber zusammenzustellen und um weitere mit der
      Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu
      erbringen.

      Auch wird Google diese Informationen gegebenenfalls an Dritte
      übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte
      diese Daten im Auftrag von Google verarbeiten. Google wird in keinem
      Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung
      bringen.

      Sie können die Installation der Cookies durch eine
      entsprechende Einstellung Ihrer Browser Software verhindern; wir
      weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls
      nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können.

      Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung
      der über Sie erhobenen Daten durch Google in der zuvor beschriebenen
      Art und Weise und zu dem zuvor benannten Zweck einverstanden. Der
      Datenerhebung und -speicherung kann
      <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">
        jederzeit mit Wirkung für die Zukunft widersprochen werden
      </a>