@import "variables";
@import "mixins";

#section-imprint {
  @include section-light(#f7f7f7);
  p, h1 {
    text-align: left;
  }
}
#section-privacy {
  @include section-text(#222);
  text-align: left;
  h2 {
    text-align: left;
  }
  p {
    color: rgba(255, 255, 255, 0.67);
  }
}
