@import "variables";
@import "mixins";

::selection {
  background: black;
  color: white;
}
::-moz-selection {
  background: black;
  color: white;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 300;
  min-width: $page-min-width;
  @include narrow {
    font-size: 18px;
    line-height: 1.5em;
  }
}
h1 {
  font-size: 220%;
}
h2 {
  font-size: 180%;
  line-height: 1.4em;
}
h1, h2, h3 {
  font-weight: 300;
}
b, strong {
  font-weight: normal;
}
a {
  color: #009688;
  text-decoration: none;
}
img {
  max-width: 100%;
}

.wrapper {
  text-align: center;
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  max-width: 800px;
  @include narrow {
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
  }
}

#toolbar {
  $toolbar-logo-size: 48px;
  $toolbar-padding: ($toolbar-height - $toolbar-logo-size) / 2;
  @include shadow-elevation-6dp;
  min-width: $page-min-width;
  height: $toolbar-height;
  background: white;
  float: left;
  width: 100%;
  position: fixed;
  z-index: 2;
  .logo {
    height: $toolbar-height;
    float: left;
    padding: $toolbar-padding;
    box-sizing: border-box;
    img {
      width: $toolbar-logo-size;
      height: $toolbar-logo-size;
      float: left;
      margin-right: $toolbar-padding;
    }
    span {
      line-height: $toolbar-logo-size;
      float: left;
      color: rgba(0, 0, 0, 0.54);
      font-weight: 500;
    }
  }
  .quick-link {
    float: right;
    line-height: $toolbar-height;
    margin-right: $toolbar-padding;
  }
}
