// Logo colors
$studienplaner-yellow: #ffeb3b;
$studienplaner-green: #8bc34a;
$studienplaner-teal: #009688;
$studienplaner-pink: #e91e63;
$studienplaner-red: #f44336;
$studienplaner-orange: #ff9800;

// Layout stuff
$page-min-width: 360px;
$page-narrow-width: 767px;
$toolbar-height: 72px;
